<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/slick.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/slick-theme.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<nav id="top">
      <nav class="mobile-menu">
    <input type="checkbox" id="checkbox" class="mobile-menu__checkbox">
    <label for="checkbox" class="mobile-menu__btn"><div class="mobile-menu__icon"></div></label>
    <div class="mobile-menu__container">
    <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a href="/index.php?route=information/information&information_id=7" class="mobile-menu__link">Как заказать?</a></li>
       <li class="mobile-menu__item"><a href="/index.php?route=information/information&information_id=8" class="mobile-menu__link">Оплата</a></li>
       <li class="mobile-menu__item"><a href="/index.php?route=information/information&information_id=9" class="mobile-menu__link">Доставка</a></li>
       <li class="mobile-menu__item"><a href="/index.php?route=information/information&information_id=10" class="mobile-menu__link">Контакты</a></li>
       <li class="mobile-menu__item"><a href="/index.php?route=information/information&information_id=11" class="mobile-menu__link">Акции</a></li>
       <li class="mobile-menu__item"><a href="/index.php?route=information/information&information_id=12" class="mobile-menu__link">Гарантии</a></li>
       <li class="mobile-menu__item"><a href="/index.php?route=information/information&information_id=13" class="mobile-menu__link">Обмен и возврат</a></li>
    </ul>
          <div class="phone">
        <div class="text">Позвоните нам:</div>
        <div class="col-sm-5">
        <a href="tel:88005553322"><strong>8-800-555-33-22 (Россия)</strong></a>
        <a href="tel:+74952541632">(495) 254-16-32 (Москва)</a>
        <a href="tel:+78124614525">(812) 461-45-25 (С-Пб)</a>
        </div>
        <div class="col-sm-7">
        <a href="tel:+73835403432">(383) 540-34-32 (Новосибирск)</a>
        <a href="tel:+74235467424">(423) 546-74-24 (Владивосток)</a>
        <a href="tel:+78614162412">(861) 416-24-12 (Краснодар)</a>
        </div>
      </div>

      <div class="socseti">
        <div class="text">Напишите нам:</div>
        <a href="https://wa.me/9911960561?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B" target="_blank"><img src="/image/socseti/what.png"><span>WhatsUP</span></a>
        <a href="https://viber.click/79115552125" target="_blank"><img src="/image/socseti/vb.png"><span>Viber</span></a>
        <a href="https://tlgg.ru/@dmitpoa" target="_blank"><img src="/image/socseti/telegram.png"><span>Telegram</span></a>
      </div>

      <div class="otzive">
        <div class="text">Оставте отзыв:</div>
        <a href="#">ВашОтзыв.рф</a>
        <img src="/image/otzive.png">
        <div class="txt_otzive">(3000+ отзывов)</div>
      </div>
    </div>
        <div id="top-links" class="nav pull-right">
            {% if logged %}
            <a href="{{ logout }}">{{ text_logout }}</a>
            {% else %}
            <a href="{{ login }}">{{ text_login }}</a>
            {% endif %}
    </div>
</nav>
  <div class="container desctop">
    <div class="menu_top">
      <a href="/index.php?route=information/information&information_id=7">Как заказать?</a>
      <a href="/index.php?route=information/information&information_id=8">Оплата</a>
      <a href="/index.php?route=information/information&information_id=9">Доставка</a>
      <a href="/index.php?route=information/information&information_id=10">Контакты</a>
      <a href="/index.php?route=information/information&information_id=11">Акции</a>
      <a href="/index.php?route=information/information&information_id=12">Гарантии</a>
      <a href="/index.php?route=information/information&information_id=13">Обмен и возврат</a>
    </div>
    <div id="top-links" class="nav pull-right">
            {% if logged %}
            <a href="{{ logout }}">{{ text_logout }}</a>
            {% else %}
            <a href="{{ login }}">{{ text_login }}</a>
            {% endif %}
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>

      <div class="col-sm-4 phone">
        <div class="text">Позвоните нам:</div>
        <div class="col-sm-5">
        <a href="tel:88005553322"><strong>8-800-555-33-22 (Россия)</strong></a>
        <a href="tel:+74952541632">(495) 254-16-32 (Москва)</a>
        <a href="tel:+78124614525">(812) 461-45-25 (С-Пб)</a>
        </div>
        <div class="col-sm-7">
        <a href="tel:+73835403432">(383) 540-34-32 (Новосибирск)</a>
        <a href="tel:+74235467424">(423) 546-74-24 (Владивосток)</a>
        <a href="tel:+78614162412">(861) 416-24-12 (Краснодар)</a>
        </div>
      </div>

      <div class="socseti col-sm-1">
        <div class="text">Напишите нам:</div>
        <a href="https://wa.me/9911960561?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B" target="_blank"><img src="/image/socseti/what.png"><span>WhatsUP</span></a>
        <a href="https://viber.click/79115552125" target="_blank"><img src="/image/socseti/vb.png"><span>Viber</span></a>
        <a href="https://tlgg.ru/@dmitpoa" target="_blank"><img src="/image/socseti/telegram.png"><span>Telegram</span></a>
      </div>

      <div class="otzive col-sm-2">
        <div class="text">Оставте отзыв:</div>
        <a href="https://xn--80adbt8aya4b1a.xn--p1ai/" target="_blank">ВашОтзыв.рф</a>
        <img src="/image/otzive.png">
        <div class="txt_otzive">(3000+ отзывов)</div>
      </div>

      <div class="cart_width_list col-sm-2">
      <div class="wh_cm">
      <a href="{{ wishlist }}" id="comparison-total" title="Список сравнения"><img src="/image/comparison.svg"></a>
      <a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"> <img src="/image/wishlist.svg"> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a>
      </div>
      {{ cart }}
    </div>

    <div class="col-sm-12">{{ search }}</div>
  </div>
</header>
