<h3 class="wall_caption">{{ heading_titles }}</h3>
	<div class="row wall_container">
		{% for category in categories %} 
			<div class="{{ style }}">
			<div class="wall-category">
				<div class="image">
				  <a href="{{ category.href }}"><img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" /></a>
				</div>
				{% if category.children %}
					<div class="dropdown">
						<a href="{{ category.href }}" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">{{ category.name }} &nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu dropdown-menu-right">
							{% for child in category.children %}<li><a href="{{ child.href }}" >{{ child.name }}</a></li>{% endfor %}
						</ul>
					</div>
				{% else %}
					<a href="{{ category.href }}" class="wall_name_category">{{ category.name }}</a>
				{% endif %}
				{% if category.description %}<div class="wall_description">{{ category.description }}</div>{% endif %}
			</div>
			</div>
		{% endfor %} 
	</div>
<script>
$(document).ready(function(){
  var mh = 0;
   $(".wall_description").each(function () {
       var h_block = parseInt($(this).height());
       if(h_block > mh) {
          mh = h_block;
       };
   });
   $(".wall_description").height(mh);
});
</script>