{{ header }}
<link href="catalog/view/theme/default/stylesheet/cart-2.css" rel="stylesheet" media="screen">
<DIV class = "container cart">
<h1>Оформление заказа</h1>
<DIV class = "block">
<h2 class = "caption">1. Проверьте заказ</h2>
            {% for product in products %}
            <DIV class = "element row" product-id = "{{ product.cart_id }}" price = "{{ product.price }}">
            <DIV class = "remove"></DIV>
            <DIV class = "col-2">{% if product.thumb %} <a href = "{{ product.href }}" target = "_blank"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</DIV>
            <DIV class = "col-6"><a class = "title main-text" href = "{{ product.href }}" target = "_blank"> {{ product.name }}</a>
            <DIV class = "sub-sub-text">Артикул: {{ product.model }}</DIV>
            </DIV>
            <DIV class = "col-2">
            <DIV class = "quantity">
            <BUTTON>-</BUTTON>
            <DIV class = "value">{{ product.quantity }}</DIV>
            <BUTTON>+</BUTTON>
            </DIV>
            </DIV>
            <DIV class = "prices col-2">
            <DIV class = "big-text">
              {{ product.price }} <SPAN class = "ruble">₽</SPAN>
            </DIV>
            </DIV>
           </DIV>
           {% endfor %}
        </div>
<DIV class = "block">
<h2 class = "caption">2. Войдите или зарегистриру  тесь в 1 клик без подтверждений</h2>
         <div class = "container"><div class = "row">
         <div class = "col-6">
         <h3>Войти в личный кабинет</h3>
         <form action="/index.php?route=account/login" method="post" enctype="multipart/form-data" abineguid="2F6BEDF7D51841619D538AEB845F667D">
         <div>
         <div>
         <div>
           Электронная почта (email):
         </div>
         <div>
         <input name = "email" class = "form-control">
         <div id="pwm-inline-icon-38634" class="pwm-field-icon" style="position: absolute !important; width: 18px !important; height: 18px !important; min-height: 0px !important; min-width: 0px !important; z-index: 2147483645 !important; box-shadow: none !important; box-sizing: content-box !important; background: none !important; border: none !important; padding: 0px !important; cursor: pointer !important; outline: none !important; margin-top: -22px; margin-left: 209px;"><svg style="display: inline-block !important; width: 16px !important; height: 16px !important; fill: rgb(126, 147, 167) !important; margin-top: 0.5px !important; position: absolute !important; top: 0px !important; left: 0px !important;" viewBox="0 0 40 64"><g><path d="m20,28.12a33.78,33.78 0 0 1 13.36,2.74a22.18,22.18 0 0 1 0.64,5.32c0,9.43 -5.66,17.81 -14,20.94c-8.34,-3.13 -14,-11.51 -14,-20.94a22.2,22.2 0 0 1 0.64,-5.32a33.78,33.78 0 0 1 13.36,-2.74m0,-28.12c-8.82,0 -14,7.36 -14,16.41l0,5.16c2,-1.2 2,-1.49 5,-2.08l0,-3.08c0,-6.21 2.9,-11.41 8.81,-11.41l0.19,0c6.6,0 9,4.77 9,11.41l0,3.08c3,0.58 3,0.88 5,2.08l0,-5.16c0,-9 -5.18,-16.41 -14,-16.41l0,0zm0,22c-6.39,0 -12.77,0.67 -18.47,4a31.6,31.6 0 0 0 -1.53,9.74c0,13.64 8.52,25 20,28.26c11.48,-3.27 20,-14.63 20,-28.26a31.66,31.66 0 0 0 -1.54,-9.77c-5.69,-3.3 -12.08,-4 -18.47,-4l0,0l0.01,0.03z"></path><path d="m21.23,39.5a2.81,2.81 0 0 0 1.77,-2.59a2.94,2.94 0 0 0 -3,-2.93a3,3 0 0 0 -3,3a2.66,2.66 0 0 0 1.77,2.48l-1.77,4.54l6,0l-1.77,-4.5z"></path></g></svg></div></div>
         </div>
         <div>
         <div>
           Пароль:
         </div>
         <div>
         <input type="password" name="password" class = "form-control">
         <div id="pwm-inline-icon-54897" class="pwm-field-icon" style="position: absolute !important; width: 18px !important; height: 18px !important; min-height: 0px !important; min-width: 0px !important; z-index: 2147483645 !important; box-shadow: none !important; box-sizing: content-box !important; background: none !important; border: none !important; padding: 0px !important; cursor: pointer !important; outline: none !important; margin-top: -22px; margin-left: 209px;"><svg style="display: inline-block !important; width: 16px !important; height: 16px !important; fill: rgb(126, 147, 167) !important; margin-top: 0.5px !important; position: absolute !important; top: 0px !important; left: 0px !important;" viewBox="0 0 40 64"><g><path d="m20,28.12a33.78,33.78 0 0 1 13.36,2.74a22.18,22.18 0 0 1 0.64,5.32c0,9.43 -5.66,17.81 -14,20.94c-8.34,-3.13 -14,-11.51 -14,-20.94a22.2,22.2 0 0 1 0.64,-5.32a33.78,33.78 0 0 1 13.36,-2.74m0,-28.12c-8.82,0 -14,7.36 -14,16.41l0,5.16c2,-1.2 2,-1.49 5,-2.08l0,-3.08c0,-6.21 2.9,-11.41 8.81,-11.41l0.19,0c6.6,0 9,4.77 9,11.41l0,3.08c3,0.58 3,0.88 5,2.08l0,-5.16c0,-9 -5.18,-16.41 -14,-16.41l0,0zm0,22c-6.39,0 -12.77,0.67 -18.47,4a31.6,31.6 0 0 0 -1.53,9.74c0,13.64 8.52,25 20,28.26c11.48,-3.27 20,-14.63 20,-28.26a31.66,31.66 0 0 0 -1.54,-9.77c-5.69,-3.3 -12.08,-4 -18.47,-4l0,0l0.01,0.03z"></path><path d="m21.23,39.5a2.81,2.81 0 0 0 1.77,-2.59a2.94,2.94 0 0 0 -3,-2.93a3,3 0 0 0 -3,3a2.66,2.66 0 0 0 1.77,2.48l-1.77,4.54l6,0l-1.77,-4.5z"></path></g></svg></div></div>
         <div><a href="/index.php?route=account/forgotten">Забыли пароль?</a></div>
         </div>
         </div>
         <button type="submit" class = "btn btn-primary">Войти</button>
         </form></div>
         <div class = "col-6">
         <h3>Загегистрироваться (+ промокод на 500 рублей)</h3>
         <form action="/index.php?route=account/fastregister" method="post" enctype="multipart/form-data" abineguid="5F7375B7E5D44E9B8DC7468353DCD65C">
         <div>
         <div>
         <div>
           Электронная почта (email):
         </div>
         <div>
         <input name="email" class = "form-control">
         <div id="pwm-inline-icon-77992" class="pwm-field-icon" style="position: absolute !important; width: 18px !important; height: 18px !important; min-height: 0px !important; min-width: 0px !important; z-index: 2147483645 !important; box-shadow: none !important; box-sizing: content-box !important; background: none !important; border: none !important; padding: 0px !important; cursor: pointer !important; outline: none !important; margin-top: -22px; margin-left: 209px;"><svg style="display: inline-block !important; width: 16px !important; height: 16px !important; fill: rgb(126, 147, 167) !important; margin-top: 0.5px !important; position: absolute !important; top: 0px !important; left: 0px !important;" viewBox="0 0 40 64"><g><path d="m20,28.12a33.78,33.78 0 0 1 13.36,2.74a22.18,22.18 0 0 1 0.64,5.32c0,9.43 -5.66,17.81 -14,20.94c-8.34,-3.13 -14,-11.51 -14,-20.94a22.2,22.2 0 0 1 0.64,-5.32a33.78,33.78 0 0 1 13.36,-2.74m0,-28.12c-8.82,0 -14,7.36 -14,16.41l0,5.16c2,-1.2 2,-1.49 5,-2.08l0,-3.08c0,-6.21 2.9,-11.41 8.81,-11.41l0.19,0c6.6,0 9,4.77 9,11.41l0,3.08c3,0.58 3,0.88 5,2.08l0,-5.16c0,-9 -5.18,-16.41 -14,-16.41l0,0zm0,22c-6.39,0 -12.77,0.67 -18.47,4a31.6,31.6 0 0 0 -1.53,9.74c0,13.64 8.52,25 20,28.26c11.48,-3.27 20,-14.63 20,-28.26a31.66,31.66 0 0 0 -1.54,-9.77c-5.69,-3.3 -12.08,-4 -18.47,-4l0,0l0.01,0.03z"></path><path d="m21.23,39.5a2.81,2.81 0 0 0 1.77,-2.59a2.94,2.94 0 0 0 -3,-2.93a3,3 0 0 0 -3,3a2.66,2.66 0 0 0 1.77,2.48l-1.77,4.54l6,0l-1.77,-4.5z"></path></g></svg></div></div>
         </div>
         <div>
         <div>
           Пароль:
         </div>
         <div>
         <input type="password" name="password" class = "form-control">
         <div id="pwm-inline-icon-90730" class="pwm-field-icon" style="position: absolute !important; width: 18px !important; height: 18px !important; min-height: 0px !important; min-width: 0px !important; z-index: 2147483645 !important; box-shadow: none !important; box-sizing: content-box !important; background: none !important; border: none !important; padding: 0px !important; cursor: pointer !important; outline: none !important; margin-top: -22px; margin-left: 209px;"><svg style="display: inline-block !important; width: 16px !important; height: 16px !important; fill: rgb(126, 147, 167) !important; margin-top: 0.5px !important; position: absolute !important; top: 0px !important; left: 0px !important;" viewBox="0 0 40 64"><g><path d="m20,28.12a33.78,33.78 0 0 1 13.36,2.74a22.18,22.18 0 0 1 0.64,5.32c0,9.43 -5.66,17.81 -14,20.94c-8.34,-3.13 -14,-11.51 -14,-20.94a22.2,22.2 0 0 1 0.64,-5.32a33.78,33.78 0 0 1 13.36,-2.74m0,-28.12c-8.82,0 -14,7.36 -14,16.41l0,5.16c2,-1.2 2,-1.49 5,-2.08l0,-3.08c0,-6.21 2.9,-11.41 8.81,-11.41l0.19,0c6.6,0 9,4.77 9,11.41l0,3.08c3,0.58 3,0.88 5,2.08l0,-5.16c0,-9 -5.18,-16.41 -14,-16.41l0,0zm0,22c-6.39,0 -12.77,0.67 -18.47,4a31.6,31.6 0 0 0 -1.53,9.74c0,13.64 8.52,25 20,28.26c11.48,-3.27 20,-14.63 20,-28.26a31.66,31.66 0 0 0 -1.54,-9.77c-5.69,-3.3 -12.08,-4 -18.47,-4l0,0l0.01,0.03z"></path><path d="m21.23,39.5a2.81,2.81 0 0 0 1.77,-2.59a2.94,2.94 0 0 0 -3,-2.93a3,3 0 0 0 -3,3a2.66,2.66 0 0 0 1.77,2.48l-1.77,4.54l6,0l-1.77,-4.5z"></path></g></svg></div></div>
         </div>
         </div>
         <button type="submit" class = "btn btn-primary">Зарегистрироваться</button>
         </form></div></div>
         </div>
</DIV>
<DIV class = "block">
<h2 class = "caption">3. Выберите способ доставки</h2>
<DIV class = "row container">
<DIV class = "col col-6">
<INPUT type = "radio" name = "delivery-type" value = "courier">
<DIV class = "main-text">Курьерской службой до адреса</DIV>
<DIV class = "sub-text">Удобные дату/время доставки и иную информацию с Вами согласует менеджер Курьерской Службы</DIV>
<SPAN class = "price">0</SPAN>Р для Вашей корзины
</DIV>
<DIV class = "col col-6">
<INPUT type = "radio" name = "delivery-type" value = "russian-post">
<DIV class = "main-text">До ближайжего отделения Почта России первым классом</DIV>
<DIV class = "sub-text">Только для малогабартных товаров</DIV>
<SPAN class = "price">0</SPAN>Р для Вашей корзины
</DIV>
</DIV>
</DIV>
<DIV class = "block">
<h2 class = "caption">4. Заполните данные</h2>
<DIV class = "container">
<DIV class = "row">
<DIV class = "col-6">
<DIV class = "main-text">Город (населённый пункт)*</DIV>
<INPUT id = "city" class = "form-control" />
    <div id="map" style="width: 100%; height: 400px"></div>
    <script type="text/javascript">
    // The ymaps.ready() function will be called when
    // all the API components are loaded and the DOM tree is generated.
    var myMap;
    ymaps.ready(init);
    function init(){
        // Creating the map.    
        myMap = new ymaps.Map("map", {
            // The map center coordinates.
            // Default order: “latitude, longitude”.
            // To not manually determine the map center coordinates,
            // use the Coordinate detection tool.
            center: [55.76, 37.64],
            // Zoom level. Acceptable values:
            // from 0 (the entire world) to 19.
            zoom: 7});
    }
</script>
</DIV><DIV class = "col-6">
<DIV class = "sub-sub-text">Улица, дом, корпус, квартира: <SPAN class = "required">*</SPAN></DIV>
<INPUT id = "address"  class = "form-control" />
<DIV class = "sub-sub-text">ФИО получателя: <SPAN class = "required">*</SPAN></DIV>
<INPUT id = "full-name" class = "form-control" />
<DIV class = "row"><DIV class = "col-6">Телефон <SPAN class = "required">*</SPAN><BR /> <INPUT class = "phone form-control" placeholder = "+7 (___) ___ - __ - __" /></DIV>
<SCRIPT>
function updateBasketView()
  {let totalPrice = 0;
   $('.cart [product-id]').each(function()
    {let $price = $(this).find('.prices').children().eq(0), price;
     $price.html(Site.view.price(Site.controller.price($(this).attr('price')) * (+ $(this).find('.quantity > .value').text()), true));
     price = Site.controller.price($price.html());//.replace(',', '.').replace(/[^\d.]/g, '');
     totalPrice += price;
    });
   $('.cart .total-price').html(Site.view.price(totalPrice, true));
  }
$('[product-id] .quantity > button:nth-child(1)').click(function()
  {let $element = $(this).nextAll().eq(0), value = + $element.text(), $productDIV = $(this).parents('[product-id]').eq(0), $price = $productDIV.find('.prices').children().eq(0), price = + $price.html().replace(',', '.').replace(/[^\d.]/g, '') / value;
   value--;
   if(value < 1)
     {value = 1;
     }
   $element.html('' + value);
   $price.html(Site.view.price(value * price, true));
   cart.update($productDIV.attr('product-id'), value);
   updateBasketView();
  });
$('[product-id] .quantity > button:nth-child(3)').click(function()
  {let $element = $(this).prevAll().eq(0), value = + $element.text(), $productDIV = $(this).parents('[product-id]').eq(0), $price = $productDIV.find('.prices').children().eq(0), price = + $price.html().replace(',', '.').replace(/[^\d.]/g, '') / value;
   value++;
   $element.html('' + value);
   $price.html(Site.view.price(value * price, true));
   cart.update($productDIV.attr('product-id'), value);
   updateBasketView();
  });
updateBasketView();
$('#city, #address').bind('keyup keydown change copy paste focusout', function()
  {let thisFunction = arguments.callee;
   if(thisFunction.timeoutId !== undefined)
     {thisFunction.timeoutId = window.clearTimeout(thisFunction.timeoutId);
     }
   thisFunction.timeoutId = window.setTimeout(function()
     {let value = ['city', 'address'].map(function(id)
        {let value = $('#' + id).val();
         if(value.length == 0)
           {value = undefined;
           }
         return value;
        }).filter(function(value)
          {return value !== undefined;
          }).join(', ');
       var myGeocoder = ymaps.geocode(value);
       myGeocoder.then(function(res) 
         {myMap.geoObjects.removeAll();
          myMap.geoObjects.add(res.geoObjects.splice(0, 1));
         });
      thisFunction.timeoutId = undefined;
     }, 1200);
  });
</SCRIPT>
<DIV class = "col-6">Телефон (дополнительно): <BR /> <INPUT class = "phone form-control" placeholder = "+7 (___) ___ - __ - __" /></DIV></DIV>
</DIV>
</DIV>
</DIV>
</DIV>
<DIV class = "block">
<h2 class = "caption">5. Выберите способ оплаты</h2>
<DIV class = "container">
<DIV class = "row"><DIV class = "col-6">
<DIV class = "row"><DIV class = "col-1">
<INPUT name = "payment-type" value = "all-in-site" type = "radio"/>
</DIV>
<DIV class = "col-11">
<DIV class = "main-text">
Оплата всей сумму на сайте (банковской картой или электронными деньгами)</DIV>
<DIV class = "row"><DIV class = "main-text col-10">Оплата на сайте:</DIV><DIV class = "main-text col-2 price">000 00 <SPAN class = "ruble">₽</SPAN></DIV>
</DIV>
<BUTTON class = "orange pay-all-in-one form-control btn btn-primary">Оплатить</BUTTON>
</DIV></DIV>
<DIV class = "row"><DIV class = "col-1">
<INPUT name = "payment-type" value = "prepay" type = "radio"/></DIV><DIV class = "col-11"><DIV class = "main-text">
Минимальная предоплата на сайте + оплата оставшейся суммы наличными при получении заказа</DIV>
<DIV class = "row"><DIV class = "main-text col-10">Предоплата на сайте:</DIV><DIV class = "main-text col-2 price">000 00 <SPAN class = "ruble"></SPAN>₽</DIV></DIV>
<DIV class = "row"><DIV class = "main-text col-10">Оплата при получении заказа:</DIV><DIV class = "main-text col-2 price total-price">000 00 <SPAN class = "ruble"></SPAN>₽</SPAN></DIV></DIV>
<BUTTON class = "gray pay-all-in-one form-control btn btn-primary">Внести предоплату</BUTTON>
</DIV></DIV>
</DIV><DIV class = "col-6">
<DIV class = "row"><DIV class = "col-1">
<INPUT name = "payment-type" value = "at-visit" type = "radio" /></DIV><DIV class = "col-11"><DIV class = "main-text">
Оплата всей суммы при получении заказа (наличными курьеру или в отделении почты)</DIV>
<DIV class = "row"><DIV class = "main-text col-10">Оплата при получении заказа:</DIV><DIV class = "main-text col-2 price total-price">000 00 <SPAN class = "ruble"></SPAN>₽</DIV>
</DIV>
<FORM method = "post" action = "/index.php?route=checkout/confirm">
<BUTTON type = "submit" class = "gray pay-all-in-one form-control btn btn-primary">Заказать</BUTTON><BR />
</FORM>
<a class = "gray-link">Как расчитывается сумма предоплаты</a><BR />
<a class = "gray-link">Как мне вернуть деньги, если я решу отказаться от заказа?</a><BR />
<SPAN class = "gray-hint">Нажимая на кнопку "Оплатить"/"Внести предоплату"/"Заказать" Вы даёте согласие на обработку своих перснальных данных</SPAN>
</DIV></DIV></DIV></DIV>
</DIV>
</DIV>
</DIV>
<SCRIPT>
updateBasketView();
</SCRIPT>
{{ footer }} 