{{ header }}
<SCRIPT src = "/catalog/view/javascript/jquery/mask.js"></SCRIPT>
<div id="product-product" class="container">
  <div class="col-sm-12">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
</div>

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">

      {{ content_top }}
      <div class="row"> {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-8' %}
        {% endif %}




<div class="container-grof-shop">
  <h1>{{ heading_title }}</h1>
        <div class="col-md-6 col-sm-12">
          <div class="thumbnails">

            {% if thumb %}
            <section class="bigslider">
             {% for image in images %}
            <div>
            <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
            </div>
            {% endfor %}
            </section>
            {% endif %}
            {% if images %}
            <section class="smallslider">
            {% for image in images %}
           <div>
           <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
           </div>
            {% endfor %}
          </section>
            {% endif %}
          </div>
          <div class="present">
            <img src="/image/present.png">
            <div class="present_text">
              Защитный чехол в  подарок к этому товару
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="article">
            {{ text_model }} {{ model }}
          </div>
<div class="button_in_detal_grof_shop">
  <div class="element_button_grof_shop col-md-4">
            <button style="width: {{ butWidth }}% !important" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><img src="/image/comparison.svg"><div class="text">Сравнить</div></button>
  </div>
  <div class="element_button_grof_shop col-md-4">
   <button style="width: {{ butWidth }}% !important" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><img src="/image/wishlist.svg"><div class="text">Избранное</div></button>
  </div>
  <div class="element_button_grof_shop col-md-4">
              {% if review_status %}
          <div class="rating">
            <p>{% for i in 1..5 %}
              {% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
              {% endfor %} <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a> <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a></p>
            <!-- AddThis Button BEGIN 
            <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script> 
             AddThis Button END --> 
          </div>
          {% endif %}
</div>
</div>

<div class="container_price-button">
<div class="price_container">
          {% if price %}
              <h2>{{ price }}</h2>
            {% endif %}
        </div>
          <div class="button_conteiner_buy">
<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
<button class="credit" id="button-credit" data-loading-text="{{ text_loading }}">В кредит</button>
</div>
</div>


            {% if price %}
            {% if special %}
            <div class="akcia_grof-shop">
              <div class="header_akcia">
              <h2>{{ special }}<sup>*</sup></h2>
              <div class="sale">
                -17%
              </div>
              <div class="img col-sm-6">
                <img src="image/iconproduct.png">
              </div>
            </div>
            <div class="text_akcia">
              <sup>*</sup>цена по акции “Лови момент!”
            </div>
            <div class="container_akcia">
              <div class="text_time">
              <div class="text">
                До конца акции,
              </div>
                <img src="image/schet.png">
            </div>
              <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
            </div>
            </div>
            {% endif %}
            {% if points %}
            {{ text_points }} {{ points }}
            {% endif %}
            {% if discounts %}
            {% for discount in discounts %}
            {{ discount.quantity }}{{ text_discount }}{{ discount.price }}
            {% endfor %}
            {% endif %}

          {% endif %}


<div class="form-group quantity" id="product">
             <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
              <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
              <input type="hidden" name="product_id" value="{{ product_id }}" />
            </div>

<div class="privilege">
  <div class="element">
    <img src="/image/p1.png"> <div class="text">+114 бонусов на счет </div>
  </div>
    <div class="element">
    <img src="/image/p2.png"> <div class="text">Доставка по РФ: 1-7 дней</div>
  </div>
      <div class="element">
    <img src="/image/p3.png"> <div class="text">Гарантич: 12 месяцев</div>
  </div>
        <div class="element">
    <img src="/image/p4.png"> <div class="text">Статус: в наличие</div>
  </div>
</div>
          <div> {% if options %}
            <hr>
            <h3>{{ text_option }}</h3>
            {% for option in options %}
            {% if option.type == 'select' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option_value in option.product_option_value %}
                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                {% if option_value.price %}
                ({{ option_value.price_prefix }}{{ option_value.price }})
                {% endif %} </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            {% if option.type == 'radio' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="radio">
                  <label>
                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'checkbox' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'text' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
            </div>
            {% endif %}
            {% if option.type == 'textarea' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
            </div>
            {% endif %}
            {% if option.type == 'file' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
            </div>
            {% endif %}
            {% if option.type == 'date' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group date">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'datetime' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group datetime">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'time' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group time">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if recurrings %}
            <hr>
            <h3>{{ text_payment_recurring }}</h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for recurring in recurrings %}
                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                {% endfor %}
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            {% endif %}
            <!-- -->
              
            </div>

        </div>
            </div>



        <div class="tab_product_grof"> 
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
            {% if attribute_groups %}
            <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
            {% endif %}
            {% if review_status %}
            <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-description">{{ description }}</div>
            {% if attribute_groups %}
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                {% for attribute_group in attribute_groups %}
                <thead>
                  <tr>
                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                  </tr>
                </thead>
                <tbody>
                {% for attribute in attribute_group.attribute %}
                <tr>
                  <td>{{ attribute.name }}</td>
                  <td>{{ attribute.text }}</td>
                </tr>
                {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
            {% endif %}
            {% if review_status %}
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2>{{ text_write }}</h2>
                {% if review_guest %}
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">{{ entry_name }}</label>
                    <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">{{ entry_review }}</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block">{{ text_note }}</div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">{{ entry_rating }}</label>
                    &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;{{ entry_good }}</div>
                </div>
                {{ captcha }}
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                  </div>
                </div>
                {% else %}
                {{ text_login }}
                {% endif %}
              </form>
            </div>
            {% endif %}</div>
        </div>
        {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-4' %}
        {% endif %}

      </div>
      {% if products %}
      <h3>{{ text_related }}</h3>
      <div class="row"> 
         <section class="recomendation">
        {% for product in products %}
        
        <div class="container_product">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div>
              <div class="caption">
                <div class="name">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              </div>
                <div class="container_function">
              <div class="rating">
                {% set i = 1 %}{% for i in i..5 %} 
                {% if (product['rating'] < i) %} 
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% else %} 
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% endif %} 
                {% endfor %} 
              </div>
              <div class="block_function">
                <button style="width: {{ butWidth }}% !important" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><img src="/image/comparison.svg"></button>
                <button style="width: {{ butWidth }}% !important" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><img src="/image/wishlist.svg"></button>
              </div>
                </div>
                <!-- <p>{{ product.description }}</p> 
                {% if product.price %}
                <p class="price"> {% if not product.special %}
                  {{ product.price }}
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %}
                -->

                <p class="price">
                {% if (not product['special']) %} 
                  {{ product['price'] }} 
                {% else %} 
                  <span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
                {% endif %} 
                </p>
               </div>
          <div class="button-group">
              <button style="width: {{ butWidth }}% !important" type="button" onclick="cart.add('{{ product['product_id'] }}');">
<svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57" fill="none">
<path d="M46.8285 39.361C46.8295 39.3612 46.8304 39.3612 46.8315 39.361H46.9354C47.3562 39.361 47.7322 39.0977 47.8761 38.7023L56.8666 14.0011C56.9783 13.6941 56.9332 13.3519 56.7459 13.0843C56.5584 12.8168 56.2525 12.6575 55.9257 12.6575H37.8379H27.9802H10.5843L8.35148 6.59138C8.34939 6.58565 8.34658 6.58033 8.34436 6.57459C8.33682 6.55531 8.32872 6.53647 8.32004 6.51788C8.31431 6.50531 8.30845 6.49286 8.30218 6.48061C8.2941 6.46481 8.28559 6.44945 8.27662 6.43422C8.26836 6.41997 8.26 6.40584 8.25107 6.39204C8.24312 6.37988 8.23473 6.36803 8.22634 6.35628C8.21532 6.34096 8.20427 6.32573 8.19255 6.31119C8.18473 6.30141 8.17649 6.29191 8.16839 6.28256C8.15525 6.26749 8.14201 6.25254 8.12817 6.23829C8.11949 6.22949 8.11041 6.22113 8.10148 6.21258C8.08735 6.19919 8.07339 6.18604 8.0586 6.17347C8.04799 6.16454 8.03681 6.15602 8.02592 6.14747C8.01208 6.1369 7.99824 6.1261 7.98402 6.11622C7.97063 6.10685 7.95679 6.0982 7.94295 6.08956C7.93025 6.08161 7.91752 6.07363 7.90457 6.06625C7.88849 6.05716 7.87202 6.04893 7.85552 6.04069C7.84365 6.0348 7.83193 6.02882 7.81977 6.0235C7.80219 6.01568 7.78427 6.00868 7.76616 6.00171C7.754 5.99712 7.74184 5.9925 7.72955 5.98832C7.71198 5.98243 7.69437 5.97742 7.67651 5.97252C7.66223 5.96859 7.64801 5.96485 7.63376 5.9615C7.6177 5.95785 7.60162 5.95491 7.58531 5.952C7.56815 5.94905 7.55082 5.94626 7.53334 5.94414C7.51938 5.9425 7.50541 5.94107 7.49129 5.94009C7.47118 5.93844 7.45104 5.93746 7.43097 5.93702C7.42454 5.93689 7.41839 5.93604 7.41193 5.93604H1.07426C0.52133 5.93604 0.0731201 6.38421 0.0731201 6.93718C0.0731201 7.49011 0.52133 7.93832 1.07426 7.93832H6.71356L9.50865 15.5325L17.6145 37.8031C17.6106 37.8128 17.6059 37.8222 17.6021 37.8322L14.8492 45.3115C14.832 45.3582 14.8197 45.4054 14.8098 45.4527C14.7521 45.5793 14.7192 45.7194 14.7192 45.8674C14.7192 46.4204 15.1674 46.8686 15.7203 46.8686H19.6392C20.0072 49.2416 22.064 51.064 24.5385 51.064C27.0131 51.064 29.0698 49.2416 29.4379 46.8686H36.3128C36.6808 49.2416 38.7377 51.064 41.2122 51.064C43.6868 51.064 45.7435 49.2416 46.1115 46.8686H48.8883C49.4413 46.8686 49.8895 46.4204 49.8895 45.8674C49.8895 45.3145 49.4413 44.8663 48.8883 44.8663H46.0134C45.4617 42.7302 43.5183 41.1477 41.2122 41.1477C38.9061 41.1477 36.9628 42.7302 36.4111 44.8663H29.3399C28.7879 42.7302 26.8445 41.1477 24.5386 41.1477C22.2326 41.1477 20.2892 42.7302 19.7373 44.8663H17.1468L19.1732 39.361H46.8285V39.361ZM38.5324 44.8662C39.0025 43.8548 40.0254 43.15 41.2122 43.15C42.399 43.15 43.4219 43.8548 43.8919 44.8662C44.0673 45.2437 44.168 45.6628 44.168 46.1058C44.168 46.37 44.1299 46.6247 44.0647 46.8686C43.727 48.1292 42.5779 49.0617 41.2122 49.0617C39.8465 49.0617 38.6974 48.1292 38.3598 46.8686C38.2945 46.6247 38.2564 46.37 38.2564 46.1058C38.2564 45.6628 38.357 45.2437 38.5324 44.8662ZM21.8588 44.8662C22.3287 43.8548 23.3518 43.15 24.5386 43.15C25.7253 43.15 26.7484 43.8548 27.2183 44.8662C27.3937 45.2437 27.4944 45.6628 27.4944 46.1058C27.4944 46.37 27.4563 46.6247 27.3909 46.8686C27.0533 48.1292 25.9043 49.0617 24.5386 49.0617C23.1729 49.0617 22.0238 48.1292 21.6862 46.8686C21.6209 46.6247 21.5827 46.37 21.5827 46.1058C21.5827 45.6628 21.6834 45.2437 21.8588 44.8662ZM20.4194 37.3587H19.5837L18.9361 35.5794L17.3606 31.2509H25.4545V37.3587H20.4194ZM49.1861 29.2486H40.0209V22.908H51.4939L49.1861 29.2486ZM38.0187 29.2486H27.4568V22.908H38.0187V29.2486ZM25.4545 29.2486H16.6318L14.3241 22.908H25.4545V29.2486ZM27.4568 37.3587V31.2509H38.0187V37.3587H27.4568ZM46.8819 35.5795L46.2343 37.3587H45.3987H40.021V31.2509H48.4574L46.8819 35.5795ZM52.2226 20.9057H40.021V14.6598H54.4959L52.2226 20.9057ZM28.6812 14.6598H37.1369H38.0187V20.9057H27.4568V14.6598H28.6812ZM11.322 14.6598H25.4545V20.9057H13.5954L11.3906 14.8481C11.3904 14.848 11.3904 14.848 11.3904 14.848L11.3892 14.8445L11.322 14.6598Z" fill="#fff"/>
</svg>
               <span class="hidden-xs hidden-sm hidden-md">
            </span></button>
            
            </div>
            </div>
          </div>

        </div>
        <!-- {% if column_left and column_right and (i + 1) % 2 == 0 %}
        <div class="clearfix visible-md visible-sm"></div>
        {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
        <div class="clearfix visible-md"></div>
        {% elseif (i + 1) % 4 == 0 %}
        <div class="clearfix visible-md"></div>
        {% endif %}
        {% set i = i + 1 %}
          -->
          {% endfor %}
</section>

      </div>

        {% endif %}
        {% if tags %}
        <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
        {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
$('#button-credit').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/credit/add',
    type: 'post',
    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('#button-credit').button('loading');
    },
    complete: function() {
      $('#button-credit').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        //$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

        //$('html, body').animate({ scrollTop: 0 }, 'slow');

        //$('#cart > ul').load('index.php?route=common/cart/info ul li');
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('#button-cart').button('loading');
    },
    complete: function() {
      $('#button-cart').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

        $('html, body').animate({ scrollTop: 0 }, 'slow');

        $('#cart > ul').load('index.php?route=common/cart/info ul li');
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
});
$('#button-credit').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/credit/add',
    type: 'post',
    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('#button-credit').button('loading');
    },
    complete: function() {
      $('#button-credit').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        //$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

        //$('html, body').animate({ scrollTop: 0 }, 'slow');

        //$('#cart > ul').load('index.php?route=common/cart/info ul li');
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
  language: '{{ datepicker }}',
  pickTime: false
});

$('.datetime').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
  $.ajax({
    url: 'index.php?route=product/product/write&product_id={{ product_id }}',
    type: 'post',
    dataType: 'json',
    data: $("#form-review").serialize(),
    beforeSend: function() {
      $('#button-review').button('loading');
    },
    complete: function() {
      $('#button-review').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible').remove();

      if (json['error']) {
        $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'rating\']:checked').prop('checked', false);
      }
    }
  });
});

$(document).ready(function() {
  $('.thumbnails').magnificPopup({
    type:'image',
    delegate: 'a',
    gallery: {
      enabled: true
    }
  });
});
//--></script> 
{{ footer }} 
