{{ header }}
<div id="product-search" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
     <!--  <label class="control-label" for="input-search">{{ entry_search }}</label> -->
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />
        </div>
        <div class="col-sm-3">
          <select name="category_id" class="form-control">
            <option value="0">{{ text_category }}</option>
            {% for category_1 in categories %}
            {% if category_1.category_id == category_id %}
            <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
            {% else %}
            <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
            {% endif %}
            {% for category_2 in category_1.children %}
            {% if category_2.category_id == category_id %}
            <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% else %}
            <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
            {% endif %}
            {% for category_3 in category_2.children %}
            {% if category_3.category_id == category_id %}
            <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% else %}
            <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
          </select>
        </div>
       <!-- <div class="col-sm-3">
          <label class="checkbox-inline">
            {% if sub_category %}
            <input type="checkbox" name="sub_category" value="1" checked="checked" />
            {% else %}
            <input type="checkbox" name="sub_category" value="1" />
            {% endif %}
            {{ text_sub_category }}</label>
        </div>-->
      </div>
      <p>
      <!--  <label class="checkbox-inline">
          {% if description %}
          <input type="checkbox" name="description" value="1" id="description" checked="checked" />
          {% else %}
          <input type="checkbox" name="description" value="1" id="description" />
          {% endif %}
          {{ entry_description }}</label>
      </p>-->
      <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />
      <!--   <h2>{{ text_search }}</h2>  -->
      {% if products %}
      <div class="row">
      <!--    <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
      <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a>
          </div>
        </div> -->
        <div class="sort-search">
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      </div>
      <div class="row products-grof-shop">
        {% for product in products %}
        <div class="product-layout product-grid col-lg-3 col-md-4 .col-sm-6 col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div>
              <div class="caption">
                <div class="name">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              </div>
                <div class="container_function">
              <div class="rating">
                {% set i = 1 %}{% for i in i..5 %} 
                {% if (product['rating'] < i) %} 
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% else %} 
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% endif %} 
                {% endfor %} 
              </div>
              <div class="block_function">
                <button style="width: {{ butWidth }}% !important" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><img src="/image/comparison.svg"></button>
                <button style="width: {{ butWidth }}% !important" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><img src="/image/wishlist.svg"></button>
              </div>
                </div>
                <!-- <p>{{ product.description }}</p> 
                {% if product.price %}
                <p class="price"> {% if not product.special %}
                  {{ product.price }}
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %}
                -->

                <p class="price">
                {% if (not product['special']) %} 
                  {{ product['price'] }} 
                {% else %} 
                  <span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
                {% endif %} 
                </p>
               </div>
          <div class="button-group">
              <button style="width: {{ butWidth }}% !important" type="button" onclick="cart.add('{{ product['product_id'] }}');">
<svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57" fill="none">
<path d="M46.8285 39.361C46.8295 39.3612 46.8304 39.3612 46.8315 39.361H46.9354C47.3562 39.361 47.7322 39.0977 47.8761 38.7023L56.8666 14.0011C56.9783 13.6941 56.9332 13.3519 56.7459 13.0843C56.5584 12.8168 56.2525 12.6575 55.9257 12.6575H37.8379H27.9802H10.5843L8.35148 6.59138C8.34939 6.58565 8.34658 6.58033 8.34436 6.57459C8.33682 6.55531 8.32872 6.53647 8.32004 6.51788C8.31431 6.50531 8.30845 6.49286 8.30218 6.48061C8.2941 6.46481 8.28559 6.44945 8.27662 6.43422C8.26836 6.41997 8.26 6.40584 8.25107 6.39204C8.24312 6.37988 8.23473 6.36803 8.22634 6.35628C8.21532 6.34096 8.20427 6.32573 8.19255 6.31119C8.18473 6.30141 8.17649 6.29191 8.16839 6.28256C8.15525 6.26749 8.14201 6.25254 8.12817 6.23829C8.11949 6.22949 8.11041 6.22113 8.10148 6.21258C8.08735 6.19919 8.07339 6.18604 8.0586 6.17347C8.04799 6.16454 8.03681 6.15602 8.02592 6.14747C8.01208 6.1369 7.99824 6.1261 7.98402 6.11622C7.97063 6.10685 7.95679 6.0982 7.94295 6.08956C7.93025 6.08161 7.91752 6.07363 7.90457 6.06625C7.88849 6.05716 7.87202 6.04893 7.85552 6.04069C7.84365 6.0348 7.83193 6.02882 7.81977 6.0235C7.80219 6.01568 7.78427 6.00868 7.76616 6.00171C7.754 5.99712 7.74184 5.9925 7.72955 5.98832C7.71198 5.98243 7.69437 5.97742 7.67651 5.97252C7.66223 5.96859 7.64801 5.96485 7.63376 5.9615C7.6177 5.95785 7.60162 5.95491 7.58531 5.952C7.56815 5.94905 7.55082 5.94626 7.53334 5.94414C7.51938 5.9425 7.50541 5.94107 7.49129 5.94009C7.47118 5.93844 7.45104 5.93746 7.43097 5.93702C7.42454 5.93689 7.41839 5.93604 7.41193 5.93604H1.07426C0.52133 5.93604 0.0731201 6.38421 0.0731201 6.93718C0.0731201 7.49011 0.52133 7.93832 1.07426 7.93832H6.71356L9.50865 15.5325L17.6145 37.8031C17.6106 37.8128 17.6059 37.8222 17.6021 37.8322L14.8492 45.3115C14.832 45.3582 14.8197 45.4054 14.8098 45.4527C14.7521 45.5793 14.7192 45.7194 14.7192 45.8674C14.7192 46.4204 15.1674 46.8686 15.7203 46.8686H19.6392C20.0072 49.2416 22.064 51.064 24.5385 51.064C27.0131 51.064 29.0698 49.2416 29.4379 46.8686H36.3128C36.6808 49.2416 38.7377 51.064 41.2122 51.064C43.6868 51.064 45.7435 49.2416 46.1115 46.8686H48.8883C49.4413 46.8686 49.8895 46.4204 49.8895 45.8674C49.8895 45.3145 49.4413 44.8663 48.8883 44.8663H46.0134C45.4617 42.7302 43.5183 41.1477 41.2122 41.1477C38.9061 41.1477 36.9628 42.7302 36.4111 44.8663H29.3399C28.7879 42.7302 26.8445 41.1477 24.5386 41.1477C22.2326 41.1477 20.2892 42.7302 19.7373 44.8663H17.1468L19.1732 39.361H46.8285V39.361ZM38.5324 44.8662C39.0025 43.8548 40.0254 43.15 41.2122 43.15C42.399 43.15 43.4219 43.8548 43.8919 44.8662C44.0673 45.2437 44.168 45.6628 44.168 46.1058C44.168 46.37 44.1299 46.6247 44.0647 46.8686C43.727 48.1292 42.5779 49.0617 41.2122 49.0617C39.8465 49.0617 38.6974 48.1292 38.3598 46.8686C38.2945 46.6247 38.2564 46.37 38.2564 46.1058C38.2564 45.6628 38.357 45.2437 38.5324 44.8662ZM21.8588 44.8662C22.3287 43.8548 23.3518 43.15 24.5386 43.15C25.7253 43.15 26.7484 43.8548 27.2183 44.8662C27.3937 45.2437 27.4944 45.6628 27.4944 46.1058C27.4944 46.37 27.4563 46.6247 27.3909 46.8686C27.0533 48.1292 25.9043 49.0617 24.5386 49.0617C23.1729 49.0617 22.0238 48.1292 21.6862 46.8686C21.6209 46.6247 21.5827 46.37 21.5827 46.1058C21.5827 45.6628 21.6834 45.2437 21.8588 44.8662ZM20.4194 37.3587H19.5837L18.9361 35.5794L17.3606 31.2509H25.4545V37.3587H20.4194ZM49.1861 29.2486H40.0209V22.908H51.4939L49.1861 29.2486ZM38.0187 29.2486H27.4568V22.908H38.0187V29.2486ZM25.4545 29.2486H16.6318L14.3241 22.908H25.4545V29.2486ZM27.4568 37.3587V31.2509H38.0187V37.3587H27.4568ZM46.8819 35.5795L46.2343 37.3587H45.3987H40.021V31.2509H48.4574L46.8819 35.5795ZM52.2226 20.9057H40.021V14.6598H54.4959L52.2226 20.9057ZM28.6812 14.6598H37.1369H38.0187V20.9057H27.4568V14.6598H28.6812ZM11.322 14.6598H25.4545V20.9057H13.5954L11.3906 14.8481C11.3904 14.848 11.3904 14.848 11.3904 14.848L11.3892 14.8445L11.322 14.6598Z" fill="#fff"/>
</svg>
               <span class="hidden-xs hidden-sm hidden-md">
            </span></button>
            
            </div>
            </div>
          </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-12 text-left pagination_center paginator_bottom">{{ pagination }}</div>
<!--         <div class="col-sm-6 text-right">{{ results }}</div>   -->
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
--></script>
{{ footer }}