html body
  {background: white;
  }
div.cart, div.cart *
  {color: black;     
  }
div.cart > div.block
  {display: flex !important;
   flex-direction: column !important;
   margin: 0px 0px 15px 0px !important;
   width: 100% !important;
   border: 1px solid black;
   border-radius: 7px; 
  }
div.block > .container
  {max-width: 100%;
   margin: 15px;  
  }
div.cart img.img-thumbnail
  {margin-left: 43px;
  }
div.cart > div.block > h2
  {border-bottom: 1px solid black; 
   border-top-left-radius: 7px;  
   border-top-right-radius: 7px;  
   background-color: #FC8507;
   padding: 6px 43px;
   margin: 0px;
   color: white;
  }
div.cart .element.row > div:nth-child(3)
  {padding-left: 93px;
  }
.element + .element
  {position: relative;     
   border-top: 1px solid black;
  }
.element > .remove
  {position: absolute;
   right: 29px;
   top: 27px;
   width: 21px;
   height: 21px;
   background-image: url(/image/icons/close-2.png);
   background-repeat: no-repeat;
   cursor: pointer;   
  }
.element div.quantity
  {border: 1px solid RGB(168, 168, 168);
   width: 91px;
   border-radius: 4px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
.big-text, .big-text > a, .main-text, .main-text > a, .main-text:hover, .main-text > a:hover, .sub-text, .sub-text > a
  {font-weight: bold;
   font-style: italic;
   color: black;
  }
body .cart .sub-sub-text
  {color: RGB(168, 168, 168);
   font-size: 14px;
     
  }
body .cart .element .sub-sub-text
  {margin-top: 20px;
  }
body .cart .element > *
  {padding-top: 16px;
   padding-bottom: 16px;
  }
body div.row .quantity > *
  {font-weight: bold;
  }
.big-text
  {font-size: 18px;
  }
.main-text
  {font-size: 16px;
  }
.sub-text
  {font-size: 14px;
  }
.element > *
  {display: flex;
   flex-direction: column;
   justify-content: center;      
  }
.element div.quantity button
  {background-color: transparent;
   border-width: 0px;
   font-weight: bold;
   cursor: pointer;
   width: 27px;   
   color: black;
  }
html body .cart .currency
  {color: RGB(164, 164, 164);
  }
body .row
  {margin: 0px;     
  }
.quantity > *
  {font-size: 14px;
  }