section.recomendation
  {PADDING: 0px;
  }
.slick-list > .slick-track, section.login
  {display: flex !important;
   flex-direction: column !important;
   margin: 0px !important;
   width: 100% !important;
   border: 1px solid black;
   border-radius: 7px; 
  }
.slick-list > .slick-track > .slick-slide
  {width: 100% !important;     
  }
.slick-list > .slick-track > .slick-slide:first-child, section.login > *:first-child
  {border-bottom: 1px solid black; 
   border-top-left-radius: 7px;  
   border-top-right-radius: 7px;  
   background-color: #FC8507;
   padding: 6px 43px;
  }
section.login > div
  {display: flex;
   flex-direction: row; 
   margin: 0px 34px;   
  }
section.login > div > *
  {width: 50%;     
  }
section.login > div > * > form > div
  {display: flex;
   flex-direction: row;     
  }
section.login > div > * > form > div > div
  {width: 50%;     
  }
section.login > div > * > form > button
  {background-color: RGB(253, 149, 40);
   color: white;
   border-width: 0px;
   padding: 10px 0px;
   width: 234px;
   border-radius: 3px;
   margin: 12px 0px;
  }
section.login > div input[name="email"], section.login > div input[name="password"]
  {width: 232px;
  }
.slick-list > .slick-track > .slick-slide:first-child h2
  {margin-bottom: 0px !important;     
  }
.slick-list > .slick-track > .slick-slide:nth-child(2) img
  {height: 111px !important; 
   width: auto !important;
  }
.container_product
  {position: relative;     
   border-bottom: 1px solid black;
  }
.container_product > .remove
  {position: absolute;
   right: 29px;
   top: 27px;
   width: 21px;
   height: 21px;
   background-image: url(/image/icons/close-2.png);
   cursor: pointer;   
  }
.product-thumb
  {display: flex !important;
   flex-direction: row !important;
   border-width: 0px;
  }
.product-thumb > *, .product-thumb .caption
  {display: flex;
   flex-direction: column;
   justify-content: center;      
  }
.product-thumb > *:first-child
  {width: 20% !important;     
  }
.product-thumb > *:nth-child(2)
  {width: 60% !important;     
  }
p.price
  {margin-bottom: 0px;
  }
.product-thumb > *:nth-child(3), .product-thumb > *:nth-child(4)
  {width: 10% !important;   
  }
.product-thumb div.quantity
  {border: 1px solid RGB(168, 168, 168);
   width: 91px;
   border-radius: 4px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
.product-thumb div.quantity button
  {background-color: transparent;
   border-width: 0px;
   font-weight: bold;
   cursor: pointer;
   width: 27px;   
   color: black;
  }
.product-thumb > *:nth-child(2) a
  {text-decoration-line: none;
  }
.product-thumb > *:nth-child(2) .container_function, .product-thumb > *:nth-child(2) .button-group
  {display: none !important;
  }
.product-thumb > *:nth-child(2) h5.article
  {color: #A8A8A8;
  }
.slick-list > .slick-track > .slick-slide:last-child
  {display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding-top: 43px;
   font-size: 18px;
  }
.block .row
  {margin-left: 0px;
   margin-right: 0px;
  }