.live-search {
	width:100%;
	position:absolute;
	z-index:1000;
	padding:5px 0px;
	margin-top: 10px;
	background-color:#FFF;
	border: 1px solid #e5e5e5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 2px 2px #e5e5e5;
	left: 0;
	display:none;
	padding-bottom: 42px;
}
.live-search .loading{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.live-search ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
.live-search ul li {
	cursor:pointer;
	padding: 10px 5px;
	margin:0px 5px;
	background-color:#FFF;
	min-height:90px;
	clear:both;
}
.live-search ul li:nth-child(even) {
	background-color: #FAFAFA;
}
.live-search ul li:hover {
	background-color: #f1f1f1;
}
.live-search ul li a{
	text-decoration: none;
	display:block;
}
.live-search ul li .product-image{
	float:left;
	margin-right:5px;
}
.live-search ul li .product-name p{
	font-weight: normal;
	line-height: 16px;
    font-size: 12px;
	color:#555555;
	margin:0px;
	padding:0px;
}
.live-search ul li .product-name{
	font-weight: bold;
	float: left;
	width:58%;
	font-size: 16px;
	color: #000;
}
.live-search ul li .product-price {
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	float:right;
	margin-top:10px;
	width:25%;
}
.live-search ul li .product-price .price{
	color: #FA8509;
	display:block;
}
.live-search ul li .product-price .special{
	color: #a9a9a9;
	text-decoration: line-through;
	display:block;
}

.live-search .product-price > .special {
	margin-top: -5px;
}

.live-search .result-text{
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	color:#555555;
	background-color: #FA8509;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.live-search .view-all-results:hover {
	color: #23527c;
}
.live-search .view-all-results {
	color: #fff;
}
.live-search .product-image {
	width: auto;
}
.live-search .product-image img {
	width: auto;
}