body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	background: #E5E5E5;
}

header{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
	margin-bottom:20px;
	background-color:#ffffff;
	padding-top: 5px;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	    margin-top: 15px;
    border: none;
    padding-left: 10px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #FC8507;
	
	height: 40px;
}
.menu_top{
	display: inline-block;
	position:relative;
	width: 90%;
}
.menu_top a{
	color:#ffffff;
	font-size:16px;
	padding: 10px 20px;
	display: inline-block;
	position: relative;
}

.menu_top a:hover{
	text-decoration:underline;
	color:#ffffff!important;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #fff;
	text-decoration: none;
	font-size:16px;
	padding:10px 0px;
	display:inline-block;
	position:relative;
}

#top .btn-link, #top-links li, #top-links a:hover{
	text-decoration:underline;
	color:#ffffff!important;
}

#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
	display: block;
	position: relative;
	width: 100%;
}

#search .input-group-btn{
	position:absolute;
	top:0px;
	right: 55px;
}

#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	background:transparent;
	box-shadow:none;
	border:none;

}

#search input::-webkit-input-placeholder {letter-spacing: -0.015em;color: #9C9C9C;font-weight: 500;font-size: 18px;line-height: 21px;position:relative;}
#search input::-moz-placeholder          {letter-spacing: -0.015em;color: #9C9C9C;font-weight: 500;font-size: 18px;line-height: 21px;position:relative;}
#search input:-moz-placeholder           {letter-spacing: -0.015em;color: #9C9C9C;font-weight: 500;font-size: 18px;line-height: 21px;position:relative;}
#search input:-ms-input-placeholder      {letter-spacing: -0.015em;color: #9C9C9C;font-weight: 500;font-size: 18px;line-height: 21px;position:relative;}
#search input{
	letter-spacing: -0.015em;
	color: #9C9C9C;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	position:relative;
	border:none;
	box-shadow:none;
	background: #EAEAEA;
	border-radius: 10px;
	display: block!important;
	width: 100%!important;
	position: relative;
	float: none;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #333333;
    color: #fff;
}
footer img{
    max-width: 80%;
    margin: auto;
    max-height: 40px;
    display: block;
    position: relative;
}

footer li{
	display: block;
	position: relative;
	margin-bottom: 5px;
}

footer li, footer a{
font-size: 14px;
line-height: 16px;
letter-spacing: -0.04em;
color: #FFFFFF;
}

footer .last li:nth-child(1),footer .last li:nth-child(2) a{
font-weight: bold;
font-size: 15px;
line-height: 18px;
}

footer .last li{
	text-align: right;
}

footer .last li:nth-child(3) a{
text-decoration: underline;
}

footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}

footer a:hover {
	color: #fff;
	text-decoration: underline;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb{
	background: transparent;
	border-radius: 0px;
	padding: 0px;
}
.breadcrumb > li {font-size: 14px;line-height: 17px;letter-spacing: -0.015em;color: #7F7F7F;position: relative;white-space: nowrap;}
.breadcrumb > li + li:before {
	content: '/';
	padding: 0px;
}

.breadcrumb > li a{
	font-size: 14px;line-height: 17px;letter-spacing: -0.015em;color: #7F7F7F;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
	outline: none!important;
	border:none!important;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
    padding: 0 10px;
    min-height: 100px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 5px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}

.product-thumb .price {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #FC8607;
    text-align:left
}
.product-thumb .price-new {
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.04em;
	color: #FC8607;
}
.product-thumb .price-old {
	color: #999;
	margin-left: 10px;
	font-size: 19px;
	line-height: 22px;
	letter-spacing: -0.04em;
	color: #C4C4C4;
	position:relative
}

.product-thumb .price-old:before {
  border-bottom: 1px solid #C4C4C4;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  transform: rotate(-12deg);
}

.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
    width: 60%;
    border: none;
    float: none;
    background: linear-gradient(180deg, #FFAC55 0%, #FF8A10 100%);
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    min-width: 100%;
    display: block;
    position: relative;
    padding:5px 0px;
    outline: none;
}

.product-thumb .button-group button svg{
	width:25px;
	height:25px;
	display:block;
	position:relative;
	margin:auto;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}


header .text{
color:#000;
display:block;
position:relative; 	
 }

.phone .col-sm-5{
 	padding:0px!important
 }

 .phone a{
 	color:#000;
 	font-size:12px;
 	text-decoration:none;
 }

 .phone .col-sm-5 a:nth-child(1){
 	font-weight:bold!important
 }

 .socseti.col-sm-1{
 	padding:0px;
 }

 .socseti a{
 	display:block;
 	position:relative;
 	color:#000;
 	font-size:12px;
 }

 .socseti a img{
 	display:inline-block;
 	width:13px;
 	position:relative;
 	margin-right:5px;
 }

 .otzive .text{
 	text-align:center;
 }

 .otzive a{
 background:#7E519F;
 display:block;
 position:relative;
 color:#ffffff;
 text-align:center;
 border-radius:5px;
 font-size:13px;
 padding:2px;
 }

  .otzive img{
  	display:block;
  	position:relative;
  	margin: auto;
  	margin-top:2px;
  }

  .otzive .txt_otzive{
  	display:block;
  	position:relative;
  	text-align:center;
  	color:#000;
  }

  .wh_cm{
  	display:inline-block;
  	left: 35px;
  	position: relative;
  	z-index: 10;
  }

  .wh_cm a{
  	display:block;
  	margin-top:15px;
  	position:relative;
  	z-index: 10;
  }

  .wh_cm a:first-child img{
  	width:15px
  }

   .wh_cm a:nth-child(2) img{
  	width:22px
  }

  .wh_cm a span{
  	position:absolute;
  	top:-2px;
  	right:-2px;
  	font-size:10px;
  	color:#ffffff;
  	background-color:#FC8507;
  	border-radius:100%;
  	padding:3px;
  	line-height: 6px;
  	text-align:center;
  }



#cart{
	width: 80%;
	float:right;
	position:relative;
	display:inline-block;
	text-align: right;
}

#cart button{
	background:transparent;
	border:none;
	box-shadow:none;
}

#cart button img{
	width:55px;
}

#cart button .kolvo{
	text-shadow:none;
	position:absolute;
background:#FC8507;
font-size:10px;
line-height:10px;
padding:3px 5px;
border-radius:100%;
top:10px;
right:30px
}

#cart button .cena{
	text-shadow:none;
	color:#000;
	display:block;
	font-size:12px;
}

#search .input-group-btn .btn-default img{
	position: absolute;
    top: 3px;
    right: 15px;
}

#search .input-group-btn button{
	text-decoration:none;
	outline:none;
}

#search .input-group-btn button:focus{
	outline:none;
}

.swiper-viewport .swiper-pager .swiper-button-next, .swiper-viewport .swiper-pager .swiper-button-prev{
display: none!important;
}

.wall-category {
	display: block;
	background: #FFFFFF;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 10px;
	width: 100%;
	padding: 20px 4px;
}

.wall_container .product-layout{
	padding: 14px!important;
}

.wall-category img {
	margin: auto;
	max-width: 95%;
}

.wall-category .dropdown-menu {
	width: 100%;
}

.wall-category .wall_description {
	margin-top: 10px;
}

.wall_caption{
	font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -0.04em;
color: #333333;
}

.wall_name_category{
	display: block;
	position: relative;
	font-size: 18px;
line-height: 21px;
letter-spacing: -0.04em;
color: #333333;
text-align: center;
margin-top: 5px;
max-width: 95%;
}

.wall_name_category:hover{
	color: #333333!important;
	text-decoration: none;
}
.preimushestva{
	display: block;
	position: relative;
	overflow: hidden;
}

.preimushestva .element_preimushestva{
	display: inline-block;
	position: relative;
	background: linear-gradient(180deg, #FFAC55 0%, #FF8A10 100%);
	border-radius: 10px;
	padding: 5px 10px;
	width: 100%;
}

.preimushestva .element_preimushestva img{
    height: 35px;
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 5px;
    max-width: 13%;
}

.preimushestva .element_preimushestva .text{width: 85%;position: relative;display: inline-block;}

.preimushestva .element_preimushestva .text .bold_text{
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
}

.preimushestva .element_preimushestva .text .small_text{
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	display: block;
	position: relative;
}

.container_preimushestva{
	padding: 10px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
}

.product-thumb{
	    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 0px;
}

.swiper-container .swiper-slide{
	    padding: 20px;
}

.product-thumb .image img{
	width: 90%;
	display: block;
	position: relative;
	margin: auto;
}

.product-thumb .name a{
font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-decoration-line: underline;
    color: #333333;
    text-align: left;
    display: block;
}

.product-thumb .container_function{
	    display: block;
    position: relative;
    overflow: hidden;
}

.product-thumb .container_function .rating{
	display: inline-block;
    text-align: left;
    float: left;
    width: 70%;
}

.product-thumb .container_function .block_function{
	    display: inline-block;
	    float: right;
	    width: 28%;
	    overflow: hidden;
	    top: 2px;
	    position: relative;
}

body .product-thumb .container_function .block_function button{
	background:transparent;
	border:none;
	min-width:40%!important;
	position:relative;
	padding: 0px;
}

.product-thumb .container_function .block_function button img{
	height: 15px;
	position:relative;
	display:block;
	margin:auto;
	width: 100%;
}

.swiper-viewport .scroller-graft-shop .swiper-pager .swiper-button-next, .swiper-viewport .scroller-graft-shop .swiper-pager .swiper-button-prev{
	display: block!important;
	opacity: 1;
	height: 150px;
}

.swiper-viewport .scroller-graft-shop .swiper-pager {
    top: 35%;
}

.swiper-viewport .scroller-graft-shop .swiper-pager .swiper-button-prev{
left: -5px!important;
}

.swiper-viewport .scroller-graft-shop .swiper-pager .swiper-button-next{
	right: 15px!important;
}

.swiper-viewport .scroller-graft-shop .swiper-pager .swiper-button-next:before, .swiper-viewport .scroller-graft-shop .swiper-pager .swiper-button-prev:before{
display: none!important;
	}

.swiper-viewport .scroller-graft-shop .swiper-pagination{
	display: none!important;
}

.swiper-viewport .scroller-graft-shop{
	padding: 0px 15px;
}

.product-thumb .button-group{
	width: 102%;
}

.products-grof-shop{
	background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 10px;
padding: 15px
}

.products-grof-shop .product-layout{
	padding: 15px;
}

h2{
font-size: 22px;
line-height: 26px;
letter-spacing: -0.015em;
color: #000000;
margin-top: 0px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    padding: 2px 8px;
    background: linear-gradient(180deg, #FFA950 0%, #FF8E19 100%);
    border-radius: 5px 0px 0px 5px;
    border: none;
    border: 1px solid #fb8f1e;
}

.pagination>li>a, .pagination>li>span{
	    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
    padding: 2px 8px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	    color: #FFFFFF;
    background: linear-gradient(180deg, #FFA950 0%, #FF8E19 100%)!important;
}

.input-group-addon{
	background-color: transparent;
	border: none;
}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover{
	outline: none!important;
	box-shadow: none!important;
	text-shadow: none!important;
	border:none!important;
}

.pagination_center{
	text-align: center;
}

.paginator_bottom{
	margin-top: 20px;
}

.bf-panel-wrapper{
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
}

.bf-panel-wrapper .bf-check-position .box-heading{
display: none;
}

.bf-layout-id-new .bf-attr-header{
	background:#fff!important;
}

.bf-buttonclear{
	    background: linear-gradient(180deg, #FFAC55 0%, #FF8C15 100%)!important;
    border-radius: 10px!important;
    color: #fff!important;
    text-decoration: none!important;
    text-align: center!important;
    padding-left: 0!important;
    display: block;
    width: 100%;
    padding: 9px!important;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    outline: none!important;
    border:none!important;
}

#product-category #sb-1 .panel-heading.menu-collapsed, #product-category #sb-1 .panel-heading.menu-expanded{
    display:block;
    border:0px;
    background: linear-gradient(180deg, #FFAA51 0%, #FF8A11 100%);
    border-radius: 10px;
    color: #fff;
}

#product-category #sb-1 .panel-heading.menu-expanded{
	border-radius: 10px 10px 0px 0px;
}

#product-category #sb-1.panel{
margin-bottom: 10px;
}

#product-category #sb-1 .sb-am li li .item-wrapper .item-arrow:before{
	display: none;
}

#product-category #sb-1 .menu-body{
	border-radius: 0px 0px 10px 10px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	display: none;
}

#product-category #sb-1 .panel-title{
	font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.panel-heading:after{
	display: none;
}

#sb-1 .panel-heading h3{
    display:inline-block;
    position:relative;
}

#sb-1 .panel-heading img{
    display:inline-block;
    position:relative;
    margin-right:15px;
    max-height:11px;
        top: -2px;
}

#product-category #sb-1 .panel-heading.menu-expanded img{
transform: rotate(180deg);
}

#input-sort{
	    background: #FFFFFF;
    border: 1px solid #C4C4C4!important;
    box-sizing: border-box;
    border-radius: 5px;
}

#product-category #sb-1 .menu-body li.active a{
    color: #FC8507;
}

#product-category #sb-1 .menu-body li a:hover{
	color: #FC8507;
}

.container-grof-shop{
	    display: block;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 15px;
}

.container-grof-shop h1{
	display: block;
    position: relative;
    margin-top: 0px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;
    color: #000000;
}

.container-grof-shop .article{
	    display: block;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #7F7F7F;
    text-align: right;
    margin-bottom: 30px;
}

.element_button_grof_shop button{
    background: transparent;
    border: none;
    overflow: hidden;
    border: none!important;
    box-shadow: none!important;
    outline:none!important
}

.element_button_grof_shop button:focus{
	 border: none!important;
    box-shadow: none!important;
    outline:none!important
}


.element_button_grof_shop button img{
	    height: 13px;
	    display: inline-block;
	    position: relative;
	    float: left;
	    margin-right: 5px;
}

.element_button_grof_shop button .text{
font-size: 14px;
line-height: 18px;
letter-spacing: -0.015em;
color: #7F7F7F;
display: inline-block;
float: left;
}

.rating a{
	display: block;
	position: relative;
	text-align: left;
	text-decoration: none;
	color: #FC8507;
}

.rating a:hover{
	text-decoration: underline;
}

.button_in_detal_grof_shop{
	    overflow: hidden;
    position: relative;
    display: block;
}

.container_price-button{
	    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

.price_container{
	    width: 40%;
    display: inline-block;
    position: relative;
    float: left;
}

.price_container h2{
	font-size: 34px;
    line-height: 47px;
    letter-spacing: -0.045em;
    color: #000000;
    margin-bottom: 0;
}

.button_conteiner_buy{
	position: relative;
    display: inline-block;
    float: right;
    overflow: hidden;
    width: 60%;
    top: 5px;
}

.btn-primary{
	background: linear-gradient(180deg, #FFAD57 0%, #FE880D 100%);
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    border: none;
    float: left;
    width:auto;
    display: inline-block;
    text-shadow: none;
    padding: 4px 12px;
        outline: none!important;
}
.button_conteiner_buy .btn-primary{
    width: 45%;
}

.button_conteiner_buy .credit{
	display: inline-block;
    position: relative;
    float: right;
    background: linear-gradient(180deg, #B4B4B4 0%, #ABABAB 100%);
    border-radius: 5px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    padding: 4px 12px;
    width: 45%;
    outline: none!important;
}

.btn-primary:hover, .button_conteiner_buy .credit:hover{
	background: linear-gradient(180deg, #FE880D 0%, #FFAD57 100%);
}


.privilege{
	    display: block;
    position: relative;
}

.privilege .element{
	    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.privilege .element img{
	    max-height: 30px;
    display: inline-block;
    float: left;
}

.privilege .element .text{
	display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 22px;
    color: #7F7F7F;
    float: left;
    top: 5px;
}

.present{
	    display: block;
    position: relative;
        margin-top: 10px;
}

.present img{
	    display: inline-block;
    position: relative;
    width: 75px;
    max-width: 30%;
    margin-right: 5%;
    float: left;
}

.present .present_text{
	    display: inline-block;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #7F7F7F;
    width: 65%;
    margin-top: 10px;
}

.smallslider .slick-slide img, .bigslider .slick-slide img{
    width: 85%;
    margin: auto;
    display: block;
    position: relative;
    outline: none!important;
    border: none!important;
}

.bigslider .slick-slide, .smallslider .slick-slide{
	    outline: none!important;
    border: none!important;
}

.tab-content{
	    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #7F7F7F;
}

.tab_product_grof{
	    display: block;
    position: relative;
}


.tab_product_grof .nav-tabs li.active a{
    background: linear-gradient(180deg, #FFAD57 0%, #FE8C15 100%);
    padding: 4px 10px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.tab_product_grof .nav-tabs li a{
	font-size: 18px;
    line-height: 22px;
    padding: 4px 10px;
    background: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    color: #000000;
}

.quantity label{
    font-size: 14px;
    line-height: 22px;
    color: #7F7F7F;
}

.quantity input#input-quantity{
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #7F7F7F;
    border: 1px solid #FC8507;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none!important;
    box-shadow: none!important;
}

.quantity input#input-quantity:focus{
	outline: none!important;
	box-shadow: none!important;
}

.tab_product_grof .form-control{
    font-size: 18px;
    line-height: 22px;
    color: #7F7F7F;
    border: 1px solid #FC8507;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none!important;
    box-shadow: none!important;
}

.tab_product_grof .form-control:focus{
	 border: 1px solid #FC8507;
}

.tab_product_grof label {
    font-size: 14px;
    line-height: 22px;
    color: #7F7F7F;
}

    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffffff;
        content: '';
        display: inline-block;
        visibility: visible;
        border:1px solid #7F7F7F;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        color: #fba64c;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 4px solid #fba64c;
    }

    .container_product{
    	padding: 15px
    }
    .recomendation{
    	display: block;
    	position: relative;
    	    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 20px;
    }

    .recomendation .slick-next{
    	right: 5px;
    }

    .recomendation .slick-prev{
    	left: 5px;
    }


    input[type='checkbox']:after {
        width: 16px;
        height: 16px;
        border-radius: 5px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffffff;
        content: '';
        display: inline-block;
        visibility: visible;
        border:1px solid #7F7F7F;
    }

    input[type='checkbox']:checked:after {
     width: 16px;
        height: 16px;
        border-radius: 5px;
        top: -2px;
        left: -1px;
        position: relative;
        color: #fba64c;
        display: inline-block;
        visibility: visible;
        content: '✓';
        text-align:center;
        border: 1px solid #fba64c;
    }

 .bf-panel-wrapper .bf-attr-block-cont label{
 	font-size: 13px;
line-height: 15px;
letter-spacing: 0.01em;
margin-left:5px;
color: #010101;
position:relative;
display:inline-block
 }

.bf-panel-wrapper .bf-cross{
	display:none
}

.akcia_grof-shop{
	display: block;
    position: relative;
    margin-bottom: 20px;
    padding: 15px 12px;
    border: 1px solid #FC8507;
    box-sizing: border-box;
    border-radius: 10px;
}

.akcia_grof-shop .header_akcia{
	display: block;
    position: relative;
    overflow: hidden;
}

.akcia_grof-shop .header_akcia h2{
	    display: inline-block;
    float: left;
    font-size: 34px;
    line-height: 47px;
    letter-spacing: -0.045em;
    color: #000000;
}

.akcia_grof-shop .header_akcia .sale{
	display: inline-block;
    float: left;
    margin-left: 20px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #FC8507;
    border: 1px solid #FC8507;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px 7px;
    top: 10px;
    position: relative;
}

.akcia_grof-shop .header_akcia .img{
	margin-left: 5px;
    display: inline-block;
    position: relative;
}

.akcia_grof-shop .header_akcia .img img{
	    display: block;
    position: relative;
    width: 100%;
}

.akcia_grof-shop .text_akcia{
	display: block;
    position: relative;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #7F7F7F;
    margin-bottom: 15px;
}

.akcia_grof-shop .container_akcia{
	display: block;
    position: relative;
    overflow: hidden;
}

.akcia_grof-shop .text_time{
	display: inline-block;
    float: left;
    width: 40%;
    position: relative;
}

.akcia_grof-shop .text_time .text{
	    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #7F7F7F;
    margin-bottom: 5px;
}

.akcia_grof-shop .text_time img{
	    width: 100%;
    display: block;
    position: relative;
}

.akcia_grof-shop #button-cart{
	    width: 50%;
    padding: 10px;
    margin-left: 5px;
}
.shadow
  {position: fixed;
   background-color: RGBA(0, 0, 0, 0.5);
   width: 100vw;
   height: 100vh;
   z-index: 11;
   left: 0px;
   top: 0px;
  }
.window
  {position: fixed;
   background-color: white;
   z-index: 12;
   width: 768px;
   height: 213px;
   border-radius: 7px;
   /*box-shadow: -7px 7px RGBA(0, 0, 0, 0.3); 
   */   
   left: 50vw;
   top: 50vh;
   margin-left: -359px;
   margin-top: -107px;
  }
.window.credit
  {height: 354px;
   margin-top: -177px;     
  }
.window > .icon.close
  {position: absolute;
   right: 10px;
   top: 10px;
   cursor: pointer;
  }
.window > .content
  {margin-left: 43px;
   margin-top: 16px;
   height: 197px;    
   width: 725px;  
   display: flex;   
   flex-direction: column;
   color: black;
  }
.window > .content > *
  {width: 100%;     
   display: flex;     
   flex-direction: row;
   align-items: center;
  }
.window > .content > .main
  {height: 44px;
  }
.window > .content > .details
  {height: 137px;    
   margin-top: 12px;
  }
.window > .content > .details > .product
  {display: flex;
   flex-direction: row;
  }
.window > .content > .details > .product > .properties
  {margin-left: 43px;
   display: flex;
   flex-direction: column;
   justify-content: center;
  }
.window > .content > .details > .product > .properties > .article
  {color: RGB(168, 168, 168);     
  }
.window > .content .buttons
  {display: flex;
   flex-direction: column;
   justify-content: space-around;     
   height: 100%;
   margin: 0px 12px;
  }
.window > .content .buttons > *
  {color: white;
   border-width: 0px;
   white-space: nowrap;
   font-size: 16px;
   border-radius: 4px;
   cursor: pointer;
   height: 43px;
   width: 170px;   
  }
.window > .content > .form
  {display: flex;
   flex-direction: row;
   justify-content: space-between; 
   margin-top: 29px;   
  }
.window > .content .buttons > .to-checkout
  {background-color: #FFA74B;  
  }
.window > .content .buttons > .to-continue
  {background-color: #D2D2D2;
  }
.icon.close
  {width: 20px;
   height: 20px;
   background-image: url(/image/icons/close.png);
  }
.icon.success
  {width: 31px;
   height: 31px;
   background-image: url(/image/icons/success.png);
  }
.window > .content > .main > .title
  {margin-left: 26px;
   font-size: 18px;
   font-weight: bold;
  }
.window span.required
  {color: red;
   margin-left: 5px;
  }
.window .element > .title
  {font-size: 14px;
   font-weight: bold;     
  }
.window .element
  {margin: 3px 0px;     
  }
.window .element > input
  {width: 466px;
   height: 30px;
   border: 1px solid RGB(156, 156, 156);
   border-radius: 4px;
   margin-top: 2px;
  }
.alert-success
  {background-color: transparent;
   border-width: 0px;
   padding: 0px;
   height: 0px;
   margin-bottom: 0px;  
  }