.panel-heading
{
    position: relative;
    cursor: pointer;
    
}
#sb-1 .panel-heading{
 display: none;
}

#sb-1.panel{
    background:transparent
}

.panel-heading:after
{
    position: absolute;
    top: 50%;
    right: 1em;
    width: 1em;
    height: 2px;
    margin-top: -5px;
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.6);

    -webkit-box-shadow: 0 2px transparent, 0 4px rgba(0,0,0,.6), 0 6px transparent, 0 8px rgba(0,0,0,.6);
       -moz-box-shadow: 0 2px transparent, 0 4px rgba(0,0,0,.6), 0 6px transparent, 0 8px rgba(0,0,0,.6);
            box-shadow: 0 2px transparent, 0 4px rgba(0,0,0,.6), 0 6px transparent, 0 8px rgba(0,0,0,.6);
}
.panel-heading.menu-collapsed
{
    padding-right: 2.5em;
    border-color: transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    -webkit-transition: border-color .3s;
       -moz-transition: border-color .3s;
        -ms-transition: border-color .3s;
         -o-transition: border-color .3s;
            transition: border-color .3s;
}
.panel-heading.menu-collapsed:after
{
    opacity: 1;
}
.sb-am,
.sb-am ul
{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.sb-am ul
{
    overflow: hidden;
    height: 0;
}
.sb-am li.active > ul
{
    height: auto;
}
.sb-am li
{
    line-height: 1.618em;
    position: relative;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

.sb-am li a.item-current
{
    font-weight: bold;
}
.sb-am .item-wrapper
{
    position: relative;
    display: table;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #595959;
    border: none;
    outline: none;
    background-color: transparent;
}
.sb-am li.active > .item-wrapper,
.sb-am li .item-wrapper:hover
{
    color: #333;
    background-color: rgba(0,0,0,.02);
    text-shadow: 0 1px 0 #fff;
}
.sb-am .item-wrapper > div
{
    position: relative;
    display: table-cell;
    padding: .7em 1.4em;
    vertical-align: middle;
    word-wrap: break-word;
}
.sb-am .item-wrapper .item-icon
{
    line-height: 1;
    width: 4.3em;
    text-align: center;
}
.sb-am .item-wrapper .item-icon img
{
    display: block;
    max-width: 35px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    border: 0;
}
.sb-am .item-wrapper .item-icon + div
{
    padding-left: 15px;
}
.sb-am .item-wrapper .item-title
{
    width: 100%;
}
.sb-am .fa
{
    font-size: 1.25em;
}
.sb-am .item-wrapper .item-count
{
    width: 5.5em;
    padding: 0 2.5em 0 0;
    text-align: right;
}
.sb-am .item-wrapper .item-count-tb
{
    width: 5.7em;
    padding: 0 2.7em 0 0;
    text-align: center;
}
.sb-am .item-wrapper .item-count-tb-parent
{
    width: 3em;
    padding: 0;
    text-align: center;
}
.sb-am .item-wrapper .item-count span,
.sb-am .item-wrapper .item-count-tb span,
.sb-am .item-wrapper .item-count-tb-parent span
{
    font-size: 83%;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    min-width: 1.6em;
    margin-bottom: .1em;
    padding: .3em .5em;
    text-align: center;
    border: 1px solid rgba(0,0,0,.12);
    background-color: #fff;

    -webkit-border-radius: .8em;
       -moz-border-radius: .8em;
            border-radius: .8em;
}
.sb-am .item-wrapper .item-price
{
    font-size: 83%;
    font-weight: normal;
    width: 50%;
    padding: 0 1.35em 0 0;
    text-align: right;
}
.sb-am .item-wrapper .item-price span
{
    line-height: 1;
    padding: .1em .6em;
    border: 1px solid rgba(0,0,0,.085);
    background-color: #fff;

    -webkit-border-radius: .8em;
       -moz-border-radius: .8em;
            border-radius: .8em;
}
.sb-am .item-wrapper .btn-toggle
{
    line-height: 1;
    width: 2.7em;
    padding: 0 .35em;
    cursor: pointer;
    border-left: 1px solid transparent;
}
.sb-am .item-image > a
{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
}
.sb-am .item-image img
{
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    border: 0;
}
.sb-am .btn-toggle:hover
{
    background-color: rgba(0,0,0,.02);
}
.sb-am .item-wrapper:hover .btn-toggle
{
    border-left: 1px solid rgba(0,0,0,.085);
}
.sb-am .btn-toggle:active, .sb-am .item-toggle:active
{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.04);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.04);
}
.sb-am .btn-toggle span
{
    position: relative;
    display: block;
    width: 2em;
    height: 2em;
    line-height: 2em;
}
.sb-am .btn-toggle span:before
{
    position: absolute;
    top: 50%;
    right: 50%;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-right: -1em;
    content: '';
    opacity: .45;
    background: transparent url('image/sb.svg') 0 0 no-repeat;

    -webkit-background-size: 4em 8em;
       -moz-background-size: 4em 8em;
         -o-background-size: 4em 8em;
            background-size: 4em 8em;
}

.sb-am .item-wrapper:hover .btn-toggle span:before
{
    opacity: 1;
}
.sb-am .btn-toggle:hover span:before
{
    background-position: -2em 0;
}
.sb-am li.active > .item-wrapper .btn-toggle span:before
{
    background-position: 0 -2em;
}
.sb-am li.active > .item-wrapper .btn-toggle:hover span:before
{
    background-position: -2em -2em;
}
.sb-am .item-toggle
{
    cursor: pointer;
}
.sb-am li > .item-toggle:after
{
    font-family: FontAwesome;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -.809em;
    content: '\f105';
    opacity: .45;
}
.sb-am li.active > .item-toggle:after
{
     -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
         -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
             transform: rotate(90deg);
}
.sb-am li.active > .item-toggle:after,
.sb-am li .item-toggle:hover:after
{
    opacity: .85;
    text-shadow: 0 1px 0 #fff;
}
.sb-am li li .item-wrapper .item-arrow:before
{
    font-weight: normal;
    position: absolute;
    top: 51%;
    left: .5em;
    margin-top: -.809em;
    content: 'â€¢';
    opacity: .2;
}
.sb-am li li.active > .item-wrapper .item-arrow:before,
.sb-am li li .item-current .item-arrow:before
{
    color: #23a1d1;
    opacity: 1;
}
.sb-am  li li .item-wrapper
{
    padding-left: 1.5em;
}
.sb-am  li li li .item-wrapper
{
    padding-left: 2.5em;
}
.sb-am  li li li li .item-wrapper
{
    padding-left: 3.5em;
}
.sb-am  li li li li li .item-wrapper
{
    padding-left: 4.5em;
}
.sb-am *:before, .sb-am *:after {
    display: block;
}
.panel-heading:after,
.sb-am .item-wrapper,
.sb-am .item-wrapper .item-price span,
.sb-am .item-wrapper .btn-toggle,
.sb-am li > .item-toggle:after
{
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}



#sb-1 .menu-body{
     border: 1px solid #E5E5E5;
     box-sizing: border-box;
     border-radius: 10px;
     background: #fff;
}

#sb-1{
    box-shadow:none!important;
border:none;
}

