{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
				<div class="col-sm-10">
				  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
				  {% if error_name %}
				  <div class="text-danger">{{ error_name }}</div>
				  {% endif %}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">{{ entry_title }}</label>
				<div class="col-sm-10">
					<ul class="nav nav-pills " id="language">
						{% for language in languages %}
						<li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
						{% endfor %}
					</ul>
					<hr style=" margin-top: 10px; margin-bottom: 10px; ">
					<div class="tab-pane">
						<div class="tab-content">
							{% for language in languages %}
							<div class="tab-pane" id="language{{ language.language_id }}">
								<input type="text" name="description_title[{{ language.language_id }}][title]" placeholder="{{ entry_title }}" id="input-heading{{ language.language_id }}" value="{{ description_title[language.language_id] ? description_title[language.language_id].title }}" class="form-control" />
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-type">{{ entry_type }}</label>
				<div class="col-sm-3">
				  <select name="type" id="input-type" class="form-control">
					{% if type %}
					<option value="1" selected="selected">{{ text_all }}</option>
					<option value="0">{{ text_select }}</option>
					{% else %}
					<option value="1">{{ text_all }}</option>
					<option value="0" selected="selected">{{ text_select }}</option>
					{% endif %}
				  </select>
				</div>
			</div>
			
			<div id="moestro" class="form-group">
				<label class="col-sm-2 control-label" for="input-category"><span data-toggle="tooltip" title="{{ help_category }}">{{ entry_category }}</span></label>
				<div class="col-sm-10">
				  <input type="text" name="category_name" value="" placeholder="{{ entry_category }}" id="input-category" class="form-control" />
				  <div id="featured-category" class="well well-sm" style="height: 150px; overflow: auto;">
					{% for category in categorys %}
					<div id="featured-category{{ category.category_id }}"><i class="fa fa-minus-circle"></i> {{ category.name }}
					  <input type="hidden" name="category[]" value="{{ category.category_id }}" />
					</div>
					{% endfor %}
				  </div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
				<div class="col-sm-10">
				  <input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-style">{{ entry_style }}</label>
				<div class="col-sm-10">
				<input type="text" name="style" value="{{ style }}" placeholder="{{ entry_style }}" id="input-style" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
				<div class="col-sm-10">
				  <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
				  {% if error_width %}
				  <div class="text-danger">{{ error_width }}</div>
				  {% endif %}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
				<div class="col-sm-10">
				  <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
				  {% if error_height %}
				  <div class="text-danger">{{ error_height }}</div>
				  {% endif %}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
				<div class="col-sm-3">
				  <select name="description" id="input-description" class="form-control">
					{% if description %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
				<label class="col-sm-3 control-label" for="input-description_limit">{{ entry_description_limit }}</label>
				<div class="col-sm-3">
				  <input type="text" name="description_limit" value="{{ description_limit }}" placeholder="{{ entry_description_limit }}" id="input-description_limit" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-subcategory">{{ entry_subcategory }}</label>
				<div class="col-sm-3">
				  <select name="subcategory" id="input-subcategory" class="form-control">
					{% if subcategory %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
				<label class="col-sm-3 control-label" for="input-hide_cat">{{ entry_hide_cat }}</label>
				<div class="col-sm-3">
				  <select name="hide_cat" id="input-hide_cat" class="form-control">
					{% if hide_cat %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
				<div class="col-sm-10">
				  <select name="status" id="input-status" class="form-control">
					{% if status %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			</div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('input[name=\'category_name\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'category_name\']').val('');
		
		$('#featured-category' + item['value']).remove();
		
		$('#featured-category').append('<div id="featured-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="category[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('#featured-category').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>
<script>
if ($('#input-type').val() == 1 ) {
	$('#moestro').addClass("hide");
} else {
	$('#moestro').removeClass("hide");
}
$('#input-type').on('change', function() {
	if (this.value == 1 ) {
		$('#moestro').addClass("hide");
	} else {
		$('#moestro').removeClass("hide");

	}
});
</script>
<script type="text/javascript">
	$('#language a:first').tab('show');
</script>
</div>
{{ footer }}
